# Demographics

***

## Import Libraries

In [1]:
import numpy as np
from numpy import count_nonzero, median, mean
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import random


%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

## Exploratory Data Analysis

In [2]:
df = pd.read_csv("demographics.csv")

In [3]:
df

                  Location     Location2     Location3 State       County  Land Area  WaterArea  Latitude  Longitude Population Growth Rate  WhitePopulation  BlackPopulation  HispanicPopulation  AsianPopulation  HawaiianPopulation  IndianPopulation  OtherPopulation  MalePopulation  FemalePopulation  Number of Burgalaries reported  MedianAge  Crime Rate  Homicide Reported CBSA_Type  FinanceNumber Property Crime Rate Housing Construction  HouseholdsPerZipCode  AverageHouseValue  Elevation
0       Alabama|Abbeville     Abbeville     Abbeville     AL        Henry     107.75       3.13     31.59     -85.23                 -1.41%          2186.00          1152.00               78.00            18.00                3.00             25.00            45.00         1647.00           1745.00                            4.00      46.20          93                NaN     Metro       10020.00                42.5                0.93%               1412.00           88900.00     499.00
1      Alabama|Adamsville    Adamsville    Adamsville     AL    Jefferson      17.25       0.17     33.59     -86.99                 -2.09%          2399.00          1511.00               79.00            17.00                3.00             41.00            45.00         1903.00           2068.00                           10.00      39.60         403                NaN     Metro       10050.00               186.5               -0.69%               1534.00           97100.00     600.00
2         Alabama|Addison       Addison       Addison     AL      Winston      36.87       0.29     34.20     -87.20                 -1.64%          1197.00             2.00               14.00             2.00                0.00              9.00             9.00          613.00            595.00                            1.00      40.50          32                NaN       NaN       10060.00                15.5                2.64%                501.00           88700.00     827.00
3       Alabama|Alabaster     Alabaster     Alabaster     AL       Shelby      18.69       0.34     33.22     -86.78                  1.25%         10545.00          1834.00             1338.00           154.00               12.00            108.00           696.00         6443.00           6670.00                           19.00      35.60         670               0.50     Metro       10105.00                 306               -2.25%               4590.00          160100.00     524.00
4     Alabama|Albertville   Albertville   Albertville     AL     Marshall      58.70       0.53     34.25     -86.26                 -0.02%          8165.00           260.00             2794.00            62.00               30.00            181.00          1979.00         5206.00           5207.00                            5.00      32.40         779               0.50     Micro       10120.00                 378                0.70%               3720.00          101700.00     592.00
...                    ...           ...           ...   ...          ...        ...        ...       ...        ...                    ...              ...              ...                 ...              ...                 ...               ...              ...             ...               ...                             ...        ...         ...                ...       ...            ...                 ...                  ...                   ...                ...        ...
6754     Wyoming|Sundance      Sundance      Sundance     WY        Crook     310.33       0.06     44.42    -104.38                 -2.08%          1112.00             3.00               16.00             2.00                0.00             16.00             7.00          572.00            554.00                            1.00      47.30          24                NaN       NaN      578702.00                11.5               -2.43%                487.00          137100.00    4765.00
6755  Wyoming|Thermopolis   Thermopolis   Thermopolis     WY  Hot Springs     602.02       1.07     43.77    -108.45                 -0.67%          2284.00            13.00               50.00            14.00                2.00             59.00            15.00         1165.00           1184.00                            0.00      49.00          23                NaN       NaN      579006.00                  11               -0.29%               1073.00          139300.00    4326.00
6756   Wyoming|Torrington    Torrington    Torrington     WY       Goshen     331.20       0.84     42.01    -104.29                  0.95%          4860.00            49.00              582.00            30.00               11.00             76.00           165.00         2679.00           2439.00                           10.00      43.00         128                NaN       NaN      579082.00                53.5                0.81%               2046.00          132300.00    4098.00
6757    Wyoming|Wheatland     Wheatland     Wheatland     WY       Platte     860.85       1.63     42.01    -105.03                  2.46%          3134.00            19.00              197.00            23.00                2.00             33.00            75.00         1607.00           1627.00                            3.00      47.30         117                NaN       NaN      579614.00                  55                0.25%               1431.00          140100.00    4748.00
6758      Wyoming|Worland       Worland       Worland     WY     Washakie     295.59       1.27     43.91    -108.06                 -0.01%          3664.00            25.00              577.00            29.00                7.00             81.00           226.00         1955.00           1978.00                            1.00      40.80          57                NaN       NaN      579842.00                  27                1.00%               1591.00          145500.00    4071.00

[6759 rows x 30 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6759 entries, 0 to 6758
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        6759 non-null   object
 1   Location2                       6759 non-null   object
 2   Location3                       6759 non-null   object
 3   State                           6756 non-null   object
 4   County                          6756 non-null   object
 5   Land Area                       6759 non-null   float64
 6   WaterArea                       6759 non-null   float64
 7   Latitude                        6756 non-null   float64
 8   Longitude                       6756 non-null   float64
 9   Population Growth Rate          6718 non-null   object
 10  WhitePopulation                 6756 non-null   float64
 11  BlackPopulation                 6756 non-null   float64
 12  HispanicPopulation              6756 non-null   float64
 13  AsianPopulation                 6756 non-null   float64
 14  HawaiianPopulation              6756 non-null   float64
 15  IndianPopulation                6756 non-null   float64
 16  OtherPopulation                 6756 non-null   float64
 17  MalePopulation                  6756 non-null   float64
 18  FemalePopulation                6756 non-null   float64
 19  Number of Burgalaries reported  6726 non-null   float64
 20  MedianAge                       6756 non-null   float64
 21  Crime Rate                      6759 non-null   int64
 22  Homicide Reported               1386 non-null   float64
 23  CBSA_Type                       5345 non-null   object
 24  FinanceNumber                   6756 non-null   float64
 25  Property Crime Rate             6759 non-null   object
 26  Housing Construction            6718 non-null   object
 27  HouseholdsPerZipCode            6756 non-null   float64
 28  AverageHouseValue               6756 non-null   float64
 29  Elevation                       6756 non-null   float64
dtypes: float64(20), int64(1), object(9)
memory usage: 1.5+ MB

In [5]:
df.describe()

       Land Area  WaterArea  Latitude  Longitude  WhitePopulation  BlackPopulation  HispanicPopulation  AsianPopulation  HawaiianPopulation  IndianPopulation  OtherPopulation  MalePopulation  FemalePopulation  Number of Burgalaries reported  MedianAge  Crime Rate  Homicide Reported  FinanceNumber  HouseholdsPerZipCode  AverageHouseValue  Elevation
count    6759.00    6759.00   6756.00    6756.00          6756.00          6756.00             6756.00          6756.00             6756.00           6756.00          6756.00         6756.00           6756.00                         6726.00    6756.00     6759.00            1386.00        6756.00               6756.00            6756.00    6756.00
mean       72.70       2.04     38.82     -90.50          5653.07           617.25             1017.19           289.61               16.81            121.42           439.31         3423.33           3521.64                           40.31      38.60      917.45               3.23      300121.09               2621.83          179629.01     895.88
std       170.98      12.13      4.83      14.26          5257.19          1437.05             2893.52           999.04               51.65            285.23          1289.57         3361.43           3478.75                          309.84       9.32     5277.72              12.66      158362.35               2474.12          149978.68    1211.35
min         0.00       0.00      0.00    -166.68             0.00             0.00                0.00             0.00                0.00              0.00             0.00            0.00              0.00                            0.00       0.00        0.00               0.50       10020.00                  0.00               0.00       0.00
25%        12.70       0.09     35.52     -96.72          1729.25            21.00               41.00            11.00                1.00             18.00            15.00         1009.50           1002.00                            1.00      36.50       37.00               0.50      170649.00                780.75           89800.00     193.00
50%        36.89       0.40     39.52     -88.24          3875.50           100.50              163.00            40.00                4.00             45.00            66.00         2239.00           2273.00                            4.00      40.10      128.00               0.50      287917.00               1739.00          133650.00     601.50
75%        79.91       1.32     42.06     -80.44          8151.50           523.25              696.75           179.00               12.00            117.00           289.25         4916.50           5068.25                           14.00      43.10      470.50               1.50      418031.00               3862.25          218925.00     965.00
max      7229.67     478.11     66.74       0.00         34703.00         23469.00            48042.00         22087.00             1168.00           6597.00         23198.00        26182.00          26593.00                         8316.00      77.90   186311.00             219.00      579842.00              15544.00         1000000.00   10190.00

In [6]:
df.columns

Index(['Location', 'Location2', 'Location3', 'State', 'County', 'Land Area', 'WaterArea', 'Latitude', 'Longitude', 'Population Growth Rate', 'WhitePopulation', 'BlackPopulation', 'HispanicPopulation', 'AsianPopulation', 'HawaiianPopulation', 'IndianPopulation', 'OtherPopulation', 'MalePopulation', 'FemalePopulation', 'Number of Burgalaries reported', 'MedianAge', 'Crime Rate', 'Homicide Reported', 'CBSA_Type', 'FinanceNumber', 'Property Crime Rate', 'Housing Construction', 'HouseholdsPerZipCode', 'AverageHouseValue', 'Elevation'], dtype='object')

In [7]:
df.drop(['Location', 'Location2'], axis=1, inplace=True)

In [8]:
df.drop(['State', 'County', 'Land Area', 'WaterArea', 'Latitude', 'Longitude'], axis=1, inplace=True)

In [9]:
df.drop(['WhitePopulation', 'BlackPopulation', 'HispanicPopulation', 'AsianPopulation', 'HawaiianPopulation', 
         'IndianPopulation', 'OtherPopulation', 'MalePopulation', 'FemalePopulation'], axis=1, inplace=True)

In [10]:
df.drop(['MedianAge','Homicide Reported', 'CBSA_Type', 'FinanceNumber','Elevation'], axis=1, inplace=True)

In [11]:
df

         Location3 Population Growth Rate  Number of Burgalaries reported  Crime Rate Property Crime Rate Housing Construction  HouseholdsPerZipCode  AverageHouseValue
0       Abbeville                  -1.41%                            4.00          93                42.5                0.93%               1412.00           88900.00
1      Adamsville                  -2.09%                           10.00         403               186.5               -0.69%               1534.00           97100.00
2         Addison                  -1.64%                            1.00          32                15.5                2.64%                501.00           88700.00
3       Alabaster                   1.25%                           19.00         670                 306               -2.25%               4590.00          160100.00
4     Albertville                  -0.02%                            5.00         779                 378                0.70%               3720.00          101700.00
...            ...                    ...                             ...         ...                 ...                  ...                   ...                ...
6754     Sundance                  -2.08%                            1.00          24                11.5               -2.43%                487.00          137100.00
6755  Thermopolis                  -0.67%                            0.00          23                  11               -0.29%               1073.00          139300.00
6756   Torrington                   0.95%                           10.00         128                53.5                0.81%               2046.00          132300.00
6757    Wheatland                   2.46%                            3.00         117                  55                0.25%               1431.00          140100.00
6758      Worland                  -0.01%                            1.00          57                  27                1.00%               1591.00          145500.00

[6759 rows x 8 columns]

In [12]:
#df.to_csv("demo2.csv", index=False)

#### Python code done by Dennis Lam